In [1]:
import pandas as pd
import numpy as np

In [2]:
file = 'D:/Ash/UFL/Sem2/Blockchain Optimization and Applications/HW2/compressed/data/tx.csv'

In [3]:
data = pd.read_csv(file, sep='\t', header=None)

In [6]:
data.columns = ['txID', 'blockID', 'n_inputs', 'n_outputs']

In [7]:
opComm = pd.DataFrame(data.loc[data['n_outputs'] == 1])

In [8]:
o1 = opComm.reset_index()

In [9]:
o2 = pd.DataFrame(o1['txID'])
o2['txID']

0                0
1                1
2                2
3                3
4                4
            ...
751442     9999835
751443     9999923
751444     9999960
751445     9999979
751446    10000048
Name: txID, Length: 751447, dtype: int64

In [28]:
sccs = 'D:/Ash/UFL/Sem2/Blockchain Optimization and Applications/HW2/compressed/data/addr_sccs.dat'

In [17]:
file_out = 'D:/Ash/UFL/Sem2/Blockchain Optimization and Applications/HW2/compressed/data/txout.csv'

In [18]:
data_out = pd.read_csv(file_out, sep='\t', header=None)

In [19]:
data_out.columns = ['txID', 'output_seq', 'addrID', 'sum']

In [20]:
data_out

              txID  output_seq   addrID         sum
0                0           0        0  5000000000
1                1           0        1  5000000000
2                2           0        2  5000000000
3                3           0        3  5000000000
4                4           0        4  5000000000
...            ...         ...      ...         ...
23266802  10000052           1  8375218     3817318
23266803  10000053           0  8375218     9969240
23266804  10000053           1  6136481  1826853437
23266805  10000054           0  3523799     5000000
23266806  10000054           1  8375218     3726939

[23266807 rows x 4 columns]

In [22]:
table_new = pd.DataFrame(data_out.loc[data_out['txID'].isin(o2['txID'])])

In [23]:
addrT = pd.DataFrame(table_new['addrID'])

In [30]:
file_path_add = 'D:/Ash/UFL/Sem2/Blockchain Optimization and Applications/HW2/compressed/data/addr_sccs.dat'

In [25]:
data_addr = pd.read_csv(file_path_add, sep='\t', header=None)

In [26]:
data_addr.columns = ['addrID','address']

In [27]:
addrUniq =pd.DataFrame(~addrT.loc[addrT['addrID'].isin(data_addr['addrID'])])

In [29]:
data_add = pd.read_csv(file_path_add, sep='\t', header=None)

In [31]:
data_add.columns = ['addrID','userID']

data_add['userID'].count()

In [33]:
data_add['userID'].count()

8385065